{% load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar na Conta - ReSolar</title>
    <link rel="icon" type="image/x-icon" href="{% static 'resolar/imgs/LogoSemNome.png' %}">
    <link rel="stylesheet" href="{% static 'resolar/styles/conta/entrar.css' %}">
    <link rel="stylesheet" href="{% static 'resolar/styles/conta/responsive_entrar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Tela de indisponibilidade para telas muito pequenas -->
    <div id="indisponivel">
        <h2>Site indisponível para sua resolução de tela</h2>
        <p>Lamentamos por isto! &#128546;</p>
    </div>

    <!-- Cadastro -->

    <div id="formsEntrada" class="container" style="display: flex;">

        <!-- Imagem e título -->
        <div id="formEsquerda" class="esquerda">
            <img src="{% static 'resolar/imgs/LogoSemNome.png' %}" alt="Logo Resolar">
            <p>Conta</p>
            <h3>Entre na sua conta usando um e-mail</h3>
        </div>

        <!-- Forms com inputs -->
        <form id="formDireita" class="direita" action="{% url 'entrar' %}" method="POST">
            {% csrf_token %}
            <div class="inputGroup">
                <input id="email" required="" type="text" name="username" autocomplete="off" class="input">
                <label for="email" class="label">Email/CPF/CNPJ</label>
            </div>

            <div class="inputGroup">
                <input id="senha" required="" type="password" name="password" autocomplete="off" class="input">
                <label for="senha" class="label">Senha</label>
                <i id="verSenha" class="fa-solid fa-eye icon"></i>
                <a class="btn criar" href="{% url 'cadastro' %}">Não tem conta? Crie agora</a>
            </div>

            <!-- Erros -->
            <div class="erro-container">
                {% if messages %}
                    {% for message in messages%}
                        <p class="alert {{message.tags}}"> {{message}} </p>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Botões de concluir, voltar e avançar -->
            <div class="buttons">
                <a class="btn voltar" id="voltar" href="{% url 'inicio' %}">Retornar</a>
                <button class="btn terminar" id="proximo" type="submit">Avançar<i class="fa-solid fa-angle-right"></i></button>
            </div>
        </form>
    </div>


    <script src="{% static 'resolar/scripts/entrar.js' %}"></script>
</body>
</html>
