{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - ReSolar</title>
    <link rel="icon" type="image/x-icon" href="{% static 'resolar/imgs/LogoSemNome.png' %}">
    <link rel="stylesheet" href="{% static 'resolar/styles/error/erro.css' %}">
    <link rel="stylesheet" href="{% static 'resolar/styles/error/responsive_erro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Tela de indisponibilidade para telas muito pequenas -->
    <div id="indisponivel">
        <h2>Site indisponível para sua resolução de tela</h2>
        <p>Lamentamos por isto! &#128546;</p>
    </div>

    <!-- Tela de 404 -->
    <h1>4<a style="text-decoration: none; color: #4caf4f; cursor: text;" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">0</a>4</h1>
    <h3>Eita! Esta página não existe...</h3>
    <a href="{% url 'inicio' %}">Retornar à homepage</a>
</body>
</html>
