@media only screen and (min-width: 0px) and (max-width: 260px) {
    
    /* Indisponibilidade */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100dvh;
    }

    body > *:not(#indisponivel) {
        display: none;
    }
    
    #indisponivel {
        display: block;
    }
}