@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Configurações globais */
* {
    margin: 0px;
    padding: 0px;

    font-family: "Inter", sans-serif;
    font-style: normal;

    scroll-behavior: smooth;
    box-sizing: border-box;
}

#indisponivel {
    height: 100dvh;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body {
    background-color: rgba(144, 238, 144, 0.171);
}

body.ativo {
    padding: 0px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enviado {
    display: none !important;
}

/* Opções (header) */

header {
    width: 80%;
    height: auto;
    margin: 15px auto;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    background-color: white;
}

header nav {
    display: flex;
    width: 100%;
    height: 100%;
}

header nav span {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    cursor: pointer;

    transition: all 0.2s;
}

header nav span:hover {
    background-color: rgb(216, 215, 215);
}

header nav span i {
    margin-right: 20px;
}

header nav #terceiro {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

header nav #primeiro {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

header nav .atual {
    background-color: rgb(216, 215, 215);
}

header nav .atual:hover {
    background-color: rgb(216, 215, 215);
}

.barras {
    margin: 0 auto;
    width: 80%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 12px;
}

.barra {
    height: 7px;
    margin-top: 5px;
    border-radius: 12px;
    width: 25%;
    background-color: #4CAF4F;
    transition: all 0.4s;
}

/* Formulário */

#formulario {
    background-color: white;
    margin: 0px auto;
    border-radius: 12px;
    width: 80%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario h1 {
    margin-bottom: 25px;
    font-weight: 600;
}

#formulario h1 > span {
    color: #4caf4f;
    font-weight: 700;
}

.inputGroup {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputGroup .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 12px;
    background: none;
    padding: 15px;
    font-size: 16px;
    color: #333;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1), box-shadow 0.4s;
    width: 100%;
    box-sizing: border-box;
}

.labelResp {
    display: none;
}

.inputUp ~ .label {
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
}

.inputUp:hover ~ .label {
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    color: #4CAF4F;
    padding: 0 .2em;
}

#dimensao {
    display: flex !important;
    margin: 0 auto;
    justify-content: space-between;
    width: 50%;
}

#dimensao > div {
    margin: 0;
    margin-bottom: 20px;
    width: 32%;
}

#comp {
    display: flex;
    justify-content: start;
}

#larg {
    display: flex;
    justify-content: center;
}

#alt {
    display: flex;
    justify-content: end;
}

.label {
    position: absolute;
    left: 20px;
    color: #666;
    pointer-events: none;
    transform: translateY(16px);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
    outline: none;
    border: 1.5px solid #4caf4f;
    box-shadow: 0 0 0 6px rgb(76 175 79 / 10%);
}

.input:focus, .input:hover {
    outline: none;
    border-color: #4caf4f;
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(76 175 79 / 30%);
}

.input:focus ~ .label, .input:valid ~ .label {
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
    color: #4caf4f;
}

.input:disabled ~ .label {
    transform: translateY(-50%) scale(0.8);
    background-color: #fff;
    padding: 0 .2em;
    color: #4caf4f;
}

.input:disabled {
    outline: none;
    border-color: #4caf4f;
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(76 175 79 / 30%);
}

#formulario select {
    color: #696969;
    font-style: italic;
}

#formulario .typeDate {
    color: #696969;
    font-style: italic;
}

#formulario .etapa {
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.invalid {
    box-shadow: 0 0 0 5px #b1191930;
}

.invalid:hover, .invalid:focus {
    box-shadow: 0 0 0 5px #b1191944;
    border: 1.5px solid #af4c4c;
}

.invalid ~ .label {
    color: #af4c4c;
}

.invalid:hover ~ .label, .invalid:focus ~ .label {
    color: #af4c4c;
}

/* Formulário - Agendamento */

#agenda {
    display: flex;
    align-items: center;
}

#calendario {
    width: 90%;
}

#calendario ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#calendario #mes ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendario #semana ul li {
    margin-top: 30px;
    font-weight: 700;
}

#calendario #dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}

#calendario #dias div:not(.nada) {
    margin-top: 10px;
    border-radius: 50%;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selecionado {
    background-color: #4CAF4F;
    border-color: #4CAF4F !important;
    color: #fff;
    transition: all 0.3s;
    font-weight: 700;
}

.selecionado:hover {
    background-color: #4CAF4F !important;
    border-color: #4CAF4F;
}

.dia {
    transition: background-color 0.4s;
}

.dia:hover {
    background-color: #b7e9b9;
    transition: background-color 0.4s;
}

.dia.desabilitado {
    color: #000000cf;
    pointer-events: none;
    background-color: #eae7e7;
}

#prev, #next {
    cursor: pointer;
    background-color: #4CAF4F;
    color: white;
    padding: 0px 5px;
    border-radius: 8px;
}

#calendario .inputGroup {
    margin-top: 50px;
}

#dataColeta {
    display: none;
}

#resumoColeta {
    margin-bottom: 20px;
    font-weight: 400;
}

#endereço, #data {
    font-weight: 700;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

button, a.button-homepage {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 12px;
    border: 0;
    background-color: #4CAF4F;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: all 0.4s;
    text-decoration: none;
}



button{
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 12px;
    border: 0;
    background-color: #4CAF4F;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: all 0.4s;
}

.index, .indexResp {
    background-color: #4CAF4F;
    border-radius: 12px;
    padding: 15px;
    color: white;
    font-weight: 500;
}

button:hover {
    scale: 105%;
}

a.button-homepage:hover{
    scale: 105%;
}

#concluir i {
    margin-left: 10px;
}
