@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Tela de indisponibilidade */
#indisponivel {
    height: 100dvh;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

/* Corpo da página */
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(144, 238, 144, 0.171);
    padding-top: 5dvh;
    padding-bottom: 5dvh;
}

#confirmacao {
    width: 90%;
    max-width: 615px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    max-height: 90dvh; 
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #4CAF4F #e0e0e0;
}

#confirmacao h1, #confirmacao p {
    text-align: center;
}

#confirmacao h1 span {
    color: #4CAF4F;
}

#confirmacao img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

#confirmacao p span {
    font-weight: 600;
}

#confirmacao p i {
    margin-left: 5px;
    color: #263238;
    transition: all 0.3s;
    cursor: pointer;
}

#confirmacao p i:hover {
    color: #121212;
}

/* Botões */
#confButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#confButtons a {
    text-decoration: none;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 12px;
    border: 0;
    background-color: #4CAF4F;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}

#confButtons a:hover {
    transform: scale(1.05);
    background-color: #4CAF4F;
}

/* Animação de entrada */
#confirmacao {
    animation: aparecer 0.4s ease;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
